
#city_form
{
  position: absolute;
  margin: auto;
  top: 300px;
  right: 40%;
  background: #e8e8e8;
  /*padding: 20px;*/
  border-radius: 10px;
  display:none;
}

#search-city
{
  margin-bottom: 10px;
}

.panel-heading:hover 
{
    background-color: #2268A4;
    border-color: #2268A4;
}

#category-container
{
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #9DA1A5;
  border-color: #9DA1A5;
  height: 120px;
}

#search_form
{
  position: absolute;
  margin: auto;
  top: 25%;
  left: 20%;
  background: #e8e8e8;
  padding: 20px;
  border-radius: 10px;
  display:none;
  width: 30%;
}

#categories-list
{
  position: absolute;
  margin: auto;
  top: 20%;
  left: 40%;
  background: #e8e8e8;
  padding: 20px;
  border-radius: 10px;
  display: none;
  width: 20%;
  height: 500px;
}

#category-name
{
  background: #ffffff;
  border-radius: 7px;
  padding: 6px;
  margin: 5px;
}

#category-added
{
  background: #e8e8e8;
  border-radius: 7px;
  padding: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline-block;
}

.remove-category-container {
  -webkit-border-radius: 33;
  cursor: pointer;
  -moz-border-radius: 33;
  border-radius: 33px;
  font-family: Arial;
  color: #000000;
  font-size: 13px;
  background: #f5f5f5;
  padding: 2px 5px 2px 5px;
  text-decoration: none;
}

.remove-category-container:hover {
  background: #a7b0b5;
  text-decoration: none;
}

#nano-categories-list
{
  height: 95%
}
#button-done-conatiner
{
  margin-top: 5px
}
.form-signin
{
  position: relative;
  height: 100%;
  padding: 20px;
}